<div class="wrapper" ng-controller="RootCtrl" ng-cloak class="ng-cloak">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a class="navbar-brand" ng-href="{{authentication.isAuth ? '/dashboard' : '/' }}"><img src="/img/logo.png" /></a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-class="{active:isActive(['/blog'])}"> <a ng-click="navbarExpanded = false" href="/blog"><i class="glyphicon glyphicon-book"></i>Blog</a></li>
                    <li ng-class="{active:isActive(['/wishform','/giftform'])}" ng-show="authentication.isAuth"> <a href="" ng-click="addChoicePopup()"><i class="glyphicon glyphicon-gift"></i>Add</a></li>
                    @*<li ng-class="{active:isActive('/wishform')}" ng-show="authentication.isAuth"> <a ng-click="navbarExpanded = false" href="/wishform"><i class="glyphicon glyphicon-gift"></i>Add</a></li>*@
                    @*<li ng-class="{active:isActive('/giftform')}" ng-show="authentication.isAuth"> <a ng-click="navbarExpanded = false" href="/giftform"><i class="fa fa-plus-square-o"></i>Gift</a></li>*@
                    <li ng-class="{active:isActive(['/findwish','/findgift'])}" ng-show="authentication.isAuth"> <a href="" ng-click="findChoicePopup()"><i class="glyphicon glyphicon-search"></i>Find knack</a></li>
                    @*<li ng-class="{active:isActive('/findwish')}" ng-show="authentication.isAuth"> <a ng-click="navbarExpanded = false" href="/findwish"><i class="glyphicon glyphicon-search"></i>Find knack</a></li>*@
                    @*<li ng-class="{active:isActive('/findgift')}" ng-show="authentication.isAuth"> <a ng-click="navbarExpanded = false" href="/findgift">Find gift</a></li>*@
                    <li ng-show="authentication.isAuth" class="dropdown">
                        <a ng-href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i>Menu<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-class="{active:isActive(['/profile'])}"><a ng-click="navbarExpanded = false" href="/profile">My Profile</a></li>
                            <li ng-class="{active:isActive(['/dashboard'])}"><a ng-click="navbarExpanded = false" href="/dashboard">Dashboard</a></li>
                            <li ng-class="{active:isActive(['/history'])}"><a ng-click="navbarExpanded = false" href="/history">History</a></li>
                            <li class="divider"></li>
                            <li><a href="" ng-click="logOut();navbarExpanded = false;">Log out</a></li>
                        </ul>
                    </li>
                    <li ng-hide="authentication.isAuth"> <a ng-click="navbarExpanded = false"><button ng-click="loginPopup()" type="button" class="btn btn-default">Log in</button></a></li>
                    <li ng-hide="authentication.isAuth"> <a ng-click="navbarExpanded = false"><button ng-click="signupPopup()" type="button" class="btn btn-primary">Sign up</button></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div data-ng-view="">
    </div>
</div>
<div id="footer" class="row-footer navbar navbar-default navbar-fixed-bottom">
    <div class="container ">
        <div class="row voffset3">
            <div class="col-md-3">
                <div class="footer-title"><a href="/about#about"><i class="glyphicon glyphicon-info-sign"></i>About</a></div>
                <ul class="list-unstyled">
                    <li><a href="/about#faq">FAQ</a></li>
                    <li><a href="/about#safety">Safety</a></li>
                    <li><a href="/about#support">Support</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="footer-title"><a href="/helpus#helpus"><i class="glyphicon glyphicon-exclamation-sign"></i>Help Us</a></div>
                <ul class="list-unstyled">
                    <li><a href="/helpus#ideas">Ideas</a></li>
                    <li><a href="/helpus#vacancy">Vacancy</a></li>
                    <li><a href="/helpus#donate">Donate</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="footer-title"><a href="/blog"><i class="glyphicon glyphicon-book"></i>Blog</a></div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                    <a class="btn btn-primary btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-lg fa-facebook"></i></a>
                    <a class="btn btn-primary btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-lg fa-twitter"></i></a>
                    <a class="btn btn-primary btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-lg fa-google-plus"></i></a>
                </div>
                <div class="col-md-12 voffset2">
                    <a class="btn btn-primary btn-social-icon btn-vk" href="http://vk.com/"><i class="fa fa-lg fa-vk"></i></a>
                    <a class="btn btn-primary btn-social-icon btn-instagram" href="http://instagram.com/"><i class="fa fa-lg fa-instagram"></i></a>
                    <a class="btn btn-primary btn-social-icon btn-email" href="mailto:"><i class="fa fa-lg fa-envelope-o"></i></a>
                </div>
            </div>
            <div class="col-md-12">
                <p align="center">© Copyright 2016 Ideas Band</p>
            </div>
        </div>
    </div>
</div>
<div class="feed-container"></div>
<div id="toTop" class="btn btn-success active" onclick="$('html,body').animate({scrollTop:0},'slow');return false;" scrollup>
    <i class="glyphicon glyphicon-chevron-up"></i>
</div>
