@{
	ViewBag.Title = "KnacksGifter";
}
<div class="wrapper">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="RootCtrl" ng-cloak class="ng-cloak">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" ng-click="navbarExpanded = !navbarExpanded">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                <a class="navbar-brand" ng-href="{{authentication.isAuth ? '/dashboard' : '/landing' }}"><img src="/img/logo.png" /><span>KnacksGifter</span></a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="authentication.isAuth"> <a ng-click="navbarExpanded = false" href="/wishform">Create new wish</a></li>
                    <li ng-show="authentication.isAuth"> <a ng-click="navbarExpanded = false" href="/giftform">Create new gift</a></li>
                    <li ng-show="authentication.isAuth" class="dropdown">
                        <a ng-href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Searching<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-click="navbarExpanded = false" href="/findwish">Find wish</a></li>
                            <li><a ng-click="navbarExpanded = false" href="/findgift">Find gift</a></li>
                        </ul>
                    </li>
                    <li ng-show="authentication.isAuth" class="dropdown">
                        <a ng-href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">User menu<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-click="navbarExpanded = false" href="/profile">My Profile</a></li>
                            <li><a ng-click="navbarExpanded = false" href="/dashboard">Dashboard</a></li>
                            <li><a ng-click="navbarExpanded = false" href="/history">History</a></li>
                            <li class="divider"></li>
                            <li><a href="" ng-click="logOut();navbarExpanded = false;">Logout</a></li>
                        </ul>
                    </li>
                    <li ng-hide="authentication.isAuth"> <a ng-click="navbarExpanded = false" href="/login">Log In</a></li>
                    <li ng-hide="authentication.isAuth"> <a ng-click="navbarExpanded = false" href="/signup">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div data-ng-view="">
        </div>
    </div>
</div>
<div id="footer" class="navbar navbar-default">
    <div class="container">
        <div class="row voffset3">
            <div class="col-md-2"><a href="/faq#faq">FAQ</a></div>
            <div class="col-md-2"><a href="/faq#support">Support</a></div>
            <div class="col-md-2"><a href="/faq#about">About</a></div>
            <div class="col-md-3"><a href="/faq#safety">Safety. Communicate&nbsp;carefully.</a></div>
            <div class="col-md-3">
                Social links
            </div>
        </div>
    </div>
</div>
    <div id="toTop" class="btn btn-success active" onclick="$('html,body').animate({scrollTop:0},'slow');return false;" scrollup>
    <i class="glyphicon glyphicon-chevron-up"></i>
    </div>
