[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.voffset {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 15px;
}

.voffset4 {
    margin-top: 30px;
}

.voffset5 {
    margin-top: 40px;
}

.voffset6 {
    margin-top: 60px;
}

.voffset7 {
    margin-top: 80px;
}

.voffset8 {
    margin-top: 100px;
}

.voffset9 {
    margin-top: 150px;
}

// Fileinput
// CSS for file upload button and fileinput widget
// ------------------------------------------------
$border-radius-base: 6px;
$border-radius-small: 4px;
$border-radius-large: 8px;
$state-warning-text: #ffd800;
$state-warning-border: #ffd800;
$state-danger-text: #d12a2a;
$state-danger-border: #d12a2a;
$state-success-text: #2fbe32;
$state-success-border: #2fbe32;

.btn-file {
    overflow: hidden;
    position: relative;
    vertical-align: middle;

    > input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        font-size: 23px;
        height: 100%;
        width: 100%;
        direction: ltr;
        cursor: pointer;
    }
}

.fileinput {
    margin-bottom: 9px;
    display: inline-block;

    .form-control {
        padding-top: 7px;
        padding-bottom: 5px;
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
        cursor: text;
    }

    .thumbnail {
        overflow: hidden;
        display: inline-block;
        margin-bottom: 5px;
        vertical-align: middle;
        text-align: center;

        > img {
            /*max-height: 100%;*/
            max-height: 150px;
        }
    }

    .btn {
        vertical-align: middle;
    }
}

.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
    display: none;
}

.fileinput-inline .fileinput-controls {
    display: inline;
}

.fileinput-filename {
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
}

.form-control .fileinput-filename {
    vertical-align: bottom;
}

.fileinput.input-group {
    display: table;
}

// Not 100% correct, but helps in typical use case
.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
    border-radius: 0 $border-radius-base $border-radius-base 0;

    &.btn-xs,
    &.btn-sm {
        border-radius: 0 $border-radius-small $border-radius-small 0;
    }

    &.btn-lg {
        border-radius: 0 $border-radius-large $border-radius-large 0;
    }
}

.form-group.has-warning .fileinput {
    .fileinput-preview {
        color: $state-warning-text;
    }

    .thumbnail {
        border-color: $state-warning-border;
    }
}

.form-group.has-error .fileinput {
    .fileinput-preview {
        color: $state-danger-text;
    }

    .thumbnail {
        border-color: $state-danger-border;
    }
}

.form-group.has-success .fileinput {
    .fileinput-preview {
        color: $state-success-text;
    }

    .thumbnail {
        border-color: $state-success-border;
    }
}


// Input group fixes

.input-group-addon:not(:first-child) {
    border-left: 0;
}

.row-content {
    padding: 40px 0 20px;
}

.header {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.btn {
    & > input[type=radio] {
        display: none;
    }
}

textarea {
    resize: none;
}

.block-bio {
    .control-label {
        text-align: left;
    }

    margin-top: 50px;
}

.header-inline {
    float: left;
}

.profile-progress {
    .progress {
        margin: 25px 0 0 20px;
        height: 30px;
    }

    .progress-bar {
        font-size: 14px;
        line-height: 30px;
    }
}

.dropdown-toggle {
    cursor: pointer;
}

.block-description {
    .control-label {
        text-align: left;
    }
}

.emergency-rating {
    outline: none;
}

.emergency-label {
    padding: .2em .3em .3em;
}

.interesting .list-group {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .list-group-item-info {
        font-weight: bold;
        font-size: 16px;
    }
}
//feed
.feed-item {
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    &.feed-item-join {
        border-left-color: #0d8541;
         .item-img i{
            color:#0d8541;
        }
    }

    &.feed-item-comment {
        border-left-color: #115576;
        .item-img i{
            color:#115576;
        }
    }

    &.feed-item-close {
        border-left-color: #ba3512;
         .item-img i{
            color:#ba3512;
        }
    }

    &.feed-item-reference {
        border-left-color: #ba6c12;
         .item-img i{
            color:#ba6c12;
        }
    }

    .media-left, .media-right {
        position: relative;

        i {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        img {
            height: 80px;
            width: 80px;
        }
    }



    .media-body {
        vertical-align: middle;
        .date {
            color: #bbb;
        }
    }
}


//reference
.reference-rating {
    outline: none;
}

.references-list {
    margin-top: 20px;
}

.reference-item {
    .list-group-item-heading {
        text-align: center;
    }

    .replyer-avatar img {
        max-height: 100px;
    }
}
//comments
.comments-list {
    .replyer-avatar img {
        width: 100px;
        margin: 10px 0;
    }

    .right-ref {
        padding-top: 10px;
    }

    .reply-btn {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .list-group-item .list-group-item {
        background: #f7f7f7;
    }

    .comment-author {
        margin-bottom: 20px;
    }
}

//navbar
.navbar-brand {
    padding: 5px 15px;

    @media (min-width: 768px) {
        padding: 2px 0;
    }

    img {
        margin-top: 3px;
    }

    span {
        float: left;
        font-size: 26px;
        line-height: 50px;
        margin-left: 10px;
    }
}

.navbar-default .navbar-toggle {
    color: #ffffff;
    background-color: #187942;
    border-color: #125b32;

    &:hover, &:focus {
        background-color: #125b32;
        border-color: #072414;
    }
}

.navbar-nav > li > a {
    line-height: 80px;
    padding: 0 10px;

    & > button {
        font-size: 16px;

        &.btn-default:hover, &.btn-default:active {
            color: #2f8d58;
            background: #fff;
            border-color: #2f8d58;
            box-shadow: 0 0 5px 0 rgba(rgb(47,141,88),.5);
        }
    }
}
//поиск
.filters {
    margin-bottom: 30px;
}

.avatar {
    margin-bottom: 10px;
}
//карточка айтемов
.item-card {
    .emergency-bar {
        margin-bottom: 10px;

        .progress {
            margin: 0;
            height: 20px;

            .progress-bar {
                font-size: 10px;
                line-height: 20px;
            }
        }
    }

    .item-photo {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}
//главная
.image-madefor {
    background: url(../img/made-for.png);
    background-repeat: no-repeat;
    height: 125px;

    &.image-madefor-1 {
        background-position: 0 0;
    }

    &.image-madefor-2 {
        background-position: 45px -140px;
    }

    &.image-madefor-3 {
        background-position: 15px -270px;
    }
}

.user-info {
    .online-status {
        font-size: 11px;
        margin-left: 10px;
        vertical-align: middle;
    }

    .awesomeness-bar {
        margin-top: 5px;
    }

    .avatar img {
        height: 200px;
    }
}

.user-tabs {
    margin-top: 55px;

    .nav-tabs {
        margin-bottom: 20px;
    }
}
//knacks list
.knacks-list {
    margin-top: 10px;

    .tab-content {
        padding: 20px;
        background: #fff;
        border-radius: 0 0 4px 4px;
        border: 1px solid #68d598 ;
        border-top-color: #fff;
        .list-group-item{
                box-shadow: inset 0 0 3px #ccc;
        }
    }

    .nav-tabs {
        & > li {
            &.active > a {
                background-color: #fff;
                border-color: #68d598;
                  border-bottom-color: #fff;
                    color: #333;
                &:hover, &:focus {
                    border-color: #68d598;
                    background-color: #fff;
                    border-bottom-color: #fff;
                }
            }

            & > a {
                border-radius: 10px 10px 0 0;
                border: 1px solid #dddddd;
                 border-bottom-color: #68d598;
                background-color: #f3f3f3;
                    font-size: 18px;
                &:hover {
                    background-color: #eee;
                }
            }
        }
    }
}
//sidebar
.sidebar {
    margin-top: 20px;
    position: fixed;

    @media (max-width: 992px) {
        position: relative;
    }
}

//info page
.info-page {
    h2 {
        padding-top: 100px;
        margin-top: -80px;
    }
}
//footer stick at bottom of page
.row-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 155px;
    margin: 0;

    @media (max-width: 992px) {
        height: 350px;
    }

    .footer-title {
        font-size: 18px;

        i {
            width: 25px;
        }

        & + ul {
            margin-left: 25px;
        }
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 155px;

    @media (max-width: 992px) {
        margin-bottom: 350px;
    }
}


.cropArea {
    background: #E4E4E4;
    //overflow: hidden;
    width: 200px;
    height: 150px;
    float: left;
    margin-right: 20px;
    position: relative;

    &:after {
        display: block;
        content: '\e080';
        width: 10px;
        height: 10px;
        position: absolute;
        top: 75px;
        right: -12px;
        font-family: Glyphicons Halflings;
        font-weight: normal;
        font-style: normal;
    }
}

#toTop {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 10000;
}

.btn-social-icon {
    min-width: 45px;
    margin-right: 10px;
}

.wrapper {
    padding: 81px 0 50px;
}

.navbar-header {
    height: 80px;
}

.promo {
    background: url('../img/promo.png') no-repeat scroll top center;
    min-height: 300px;

    @media (max-width: 992px) {
        background-position-x: -750px;
    }

    .message {
        padding: 20px 15px;
        min-height: 300px;
        text-align: center;
        font-family: 'Handlee', cursive;

        .title {
            font-size: 46px;
            color: #fff;
            text-shadow: 1px 1px 0 #333;
            font-weight: bold;

            @media (max-width: 768px) {
                line-height: 45px;
            }
        }

        .quotes {
            text-align: right;
            font-size: 20px;
            color: #000;
            background: rgba(255,255,255,.3);
            border-radius: 8px;
            padding: 10px 15px;
            margin: 5px auto 0;
            width: 320px;

            @media (max-width: 768px) {
                width: 290px;

                .br-md {
                    display: none;
                }
            }
        }
    }

    .form-signup {
        padding-top: 130px;
         margin-top: -100px;
        min-height: 300px;
    }
}
.choicepopup {
    .choices {
        
            a {
                color: #333333;
            }
                .step {
            cursor:pointer;
            margin: 0 auto 20px;
            width: 220px;
            height: 220px;
            border-radius: 110px;
            border: 10px solid;
            -webkit-box-shadow: 0 3px 7px 0 #333;
            -moz-box-shadow: 0 3px 7px 0 #333;
            box-shadow: 0 3px 7px 0 #333;
            padding: 10px;
            background: #ffffff;
            background: -moz-linear-gradient(top, #ffffff 0%, #efefef 75%, #c7c7c6 100%);
            background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 75%,#c7c7c6 100%);
            background: linear-gradient(to bottom, #ffffff 0%,#efefef 75%,#c7c7c6 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c7c7c6',GradientType=0 );
            text-align: center;

            &:hover {
                -webkit-animation: swing .5s ease; 
                -moz-animation: swing .5s ease; 
                -o-animation: swing .5s ease;
                animation: swing .5s ease;
                -webkit-animation-iteration-count: 1;
                -moz-animation-iteration-count: 1;
                -o-animation-iteration-count: 1;
                animation-iteration-count: 1;
            }


            .logo {
               margin: 10px auto 20px;
            }

            .title {
                text-transform: uppercase;
                font-family: 'Comic Sans MS', cursive, sans-serif;
                font-size: 24px;
                line-height: 24px;
                font-weight:bold;
            }

            &.gift {
                border-color: #ba75af;

                .logo {
                    color: #ba75af;
                }
            }

            &.wish {
                border-color: #75ba80;

                .logo {
                    color: #75ba80;
                }
            }

            .step-inner {
                width: 180px;
                height: 180px;
                border-radius: 90px;
                padding: 20px 5px 5px;
                background: #ffffff;
                background: -moz-linear-gradient(top, #d8d8d8 0%, #efefef 20%, #ffffff 100%);
                background: -webkit-linear-gradient(top, #d8d8d8 0%,#efefef 20%,#ffffff 100%);
                background: linear-gradient(to bottom, #d8d8d8 0%,#efefef 20%,#ffffff 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#ffffff',GradientType=0 );
            }
        }
    }
}

@-moz-keyframes swing
{
    33% {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
    }
    66% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
       transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1); 
        -moz-transform: scale(1); 
        -ms-transform: scale(1); 
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes swing
{
    33% {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
    }
    66% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
       transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1); 
        -moz-transform: scale(1); 
        -ms-transform: scale(1); 
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes swing
{
    33% {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
    }
    66% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
       transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1); 
        -moz-transform: scale(1); 
        -ms-transform: scale(1); 
        -o-transform: scale(1);
        transform: scale(1);
    }
}

.how-use{
    //background: url('../img/landing.png') no-repeat 0 50px;
    .steps{
        margin-top: 35px;
            padding-top: 15px;
        overflow: hidden;

        @media (min-width: 992px) {
            background: url('../img/map.png') no-repeat center;
            background-size: 100%;
        }


        .step {
            cursor:pointer;
            margin: 0 auto;
            width: 220px;
            height: 220px;
            border-radius: 110px;
            border: 10px solid;
            -webkit-box-shadow: 0 3px 7px 0 #333;
            -moz-box-shadow: 0 3px 7px 0 #333;
            box-shadow: 0 3px 7px 0 #333;
            padding: 10px;
            background: #ffffff;
            background: -moz-linear-gradient(top, #ffffff 0%, #efefef 75%, #c7c7c6 100%);
            background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 75%,#c7c7c6 100%);
            background: linear-gradient(to bottom, #ffffff 0%,#efefef 75%,#c7c7c6 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c7c7c6',GradientType=0 );
            text-align: center;

            &:hover {
                -webkit-animation: swing .5s ease; 
                -moz-animation: swing .5s ease; 
                -o-animation: swing .5s ease;
                animation: swing .5s ease;
                -webkit-animation-iteration-count: 1;
                -moz-animation-iteration-count: 1;
                -o-animation-iteration-count: 1;
                animation-iteration-count: 1;
            }

            a {
                color: #333333;
            }

            .logo {
                margin: 0 auto 20px;
                width: 60px;
                height: 60px;
            }

            .title {
                text-transform: uppercase;
                font-family: 'Comic Sans MS', cursive, sans-serif;
                font-size: 16px;
                line-height: 20px;
            }

            &.green {
                border-color: #3cb370;

                @media (min-width: 992px) {
                    float: left;
                }

                .logo {
                    background: url('../img/print.svg') no-repeat center;
                }
            }

            &.green-light {
                border-color: #62a911;

                .logo {
                    background: url('../img/present.svg') no-repeat center;
                }
            }

            &.blue {
                border-color: #3a7e9f;

                .logo {
                    background: url('../img/people.svg') no-repeat center;
                }
            }

            &.red {
                border-color: #fb7754;

                .logo {
                    background: url('../img/stars.svg') no-repeat center;
                }
            }

            &.pink {
                border-color: #d94981;

                .logo {
                    background: url('../img/form.svg') no-repeat center;
                }
            }

            .step-inner {
                width: 180px;
                height: 180px;
                border-radius: 90px;
                padding: 20px 5px 5px;
                background: #ffffff;
                background: -moz-linear-gradient(top, #d8d8d8 0%, #efefef 20%, #ffffff 100%);
                background: -webkit-linear-gradient(top, #d8d8d8 0%,#efefef 20%,#ffffff 100%);
                background: linear-gradient(to bottom, #d8d8d8 0%,#efefef 20%,#ffffff 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#ffffff',GradientType=0 );
            }
        }

        .sun-step {
             cursor:pointer;
            background: url('../img/sun.svg') no-repeat 0 0;
            width: 240px;
            height: 240px;
            padding: 18px 20px;
            margin: 0 auto;

            @media (min-width: 992px) {
                float: right;
                margin-top: -8px;
            }
             &:hover {
                -webkit-animation: swing .5s ease;
                -moz-animation: swing .5s ease;
                -o-animation: swing .5s ease;
                animation: swing .5s ease;
                -webkit-animation-iteration-count: 1;
                -moz-animation-iteration-count: 1;
                -o-animation-iteration-count: 1;
                animation-iteration-count: 1;
            }
            .step {
                float: none;
                width: 200px;
                height: 200px;
                border-radius: 100px;
                border: none;
                box-shadow: none;

                 &:hover {
                -webkit-animation: none;
                -moz-animation: none;
                -o-animation: none;
                animation: none;
                -webkit-animation-iteration-count: 0;
                -moz-animation-iteration-count: 0;
                -o-animation-iteration-count: 0;
                animation-iteration-count: 0;
            }
                .logo {
                    background: url('../img/smile.svg') no-repeat center;
                }
            }
        }

        .arrow-down45 {
            background: url('../img/arrow_down45.svg') no-repeat 0 0;
            height: 90px;
            width: 50px;
            margin: 0 auto;
        }

        .arrow-down {
            background: url('../img/arrow_down.svg') no-repeat 0 0;
            height: 80px;
            width: 20px;
            margin: 0 auto;
        }

        .arrow-right {
            background: url('../img/arrow_right.svg') no-repeat 0 0;
            height: 20px;
            width: 80px;
            margin: 110px auto;
        }

        .arrow-left45 {
            background: url('../img/arrow_left45.svg') no-repeat 0 0;
            height: 65px;
            width: 160px;
            margin: 0 auto;
        }

        .arrow-up45 {
            background: url('../img/arrow_up45.svg') no-repeat 0 0;
            height: 90px;
            width: 50px;
            margin: 0 auto;
        }

        .arrow-left-long {
            background: url('../img/arrow_left_long.svg') no-repeat 0 0;
            height: 95px;
            width: 600px;
            margin: -25px auto 0;
        }
    }
}
