<div class="container info-page" active-scroll>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group col-md-2 sidebar">
                <a href="" class="list-group-item scroll-about" ng-class="{'active' : selectedLink == 'about'}" ng-click="scrollTo('about')">About</a>
                <a href="" class="list-group-item scroll-team" ng-class="{'active' : selectedLink == 'team'}" ng-click="scrollTo('team')">Team</a>
            </div>
        </div>
        <div class="col-md-9">
            <div>
                <h2 class="scroll-anchor" id="about"><i class="glyphicon glyphicon-info-sign"></i>About</h2>
                <div class="info-panel">
                    <p>By KnacksGifter you can get a delivery or can help with delivery. The service is designed to make the life more interesting, kind and full of respect by connecting people around the globe and creating meaningful sharing community.</p>
                    <p>We believe that an unconditional sharing brings more light and kindness into our life, and opens up an opportunity to make us richer inside: receive indispensable experience and meet sincere and caring people around the world.</p>
                    <p>Our mission is to create community full of desire to share and help each other - meaningful sharing community which is based on respectful communication and an atmosphere of mutual support and assistance.</p>
                    <h4 class="voffset3">Our tenets</h4>
                    <ul>
                        <li>Be kind and generous</li>
                        <li>Be curious</li>
                        <li>Be respectfull</li>
                        <li>Be supportive</li>
                        <li>Be grateful</li>
                    </ul>
                </div>
            </div>

            <div>
                <h2 class="scroll-anchor" id="team"><i class="fa fa-users"></i> Team</h2>
                <div class="info-panel">
                    <h4>Our story</h4>
                    <p>KnacksGifter began in 2014 as an idea and had become a small project in 2015 with the Dream team: Valentina Kurashova, Ksenia Kurashova and Andrew Kozak in Zelenograd, Russia. We truly believe that we can change the present world by bringing connecting tool and creating the platform for meaningful actions such as sharing, giving and receiving. We want be useful and provide all possible benefits to you and your karma. Be here, be present, be with us. Welcome and namaste!</p>
                    <h4 class="voffset3">Current work and further plans</h4>
                    <p>The project is growing and we are trying to improve its functionality, interface, post more interesting and high quality articles in the <a target="_blank" href="/blog">Blog</a>.</p>
                    <p><strong>Our work based on:</strong></p>
                    <ul>
                        <li><u>The audience and its needs.</u> Developing user-friendly interface and intuitive functional.</li>
                        <li><u>Constantly improving.</u> Looking for the best and effective solutions for design, programming, bug fixing, data processing and we listen carefully the ideas and suggestions from users. We ourselves participate the project and we test web-site's opportunities all the time.</li>
                        <li><u>Appreciation and respect each user.</u> Protect your personal information, create and maintain a friendly and respectful atmosphere.</li>
                    </ul>
                    
                    <p>For more information about vacancies and other ways how you can help check this <a target="_blank" href="/helpus">link</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>