<div class="modal-body choicepopup">
    <div class="row choices">
        <div class="col-xs-12"> <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
        <div class="col-xs-12 col-md-6">
            <a ng-click="close()" href="/wishform">
                <div class="step wish">
                    <div class="step-inner">
                        <div class="logo"><i class="fa fa-rocket fa-5x"></i></div>
                        <div class="title">WISH</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-md-6">
            <a ng-click="close()" href="/giftform">
                <div class="step gift">
                    <div class="step-inner">
                        <div class="logo"><i class="fa fa-gift fa-5x"></i></div>
                        <div class="title">GIFT</div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>