<div class="comment-item row commentid-{{comment.Id}}">
    <div class="left-ref col-md-2">
        <div class="replyer-avatar">
            <img ng-show="comment.User.AvatarUrl" ng-src="{{comment.User.AvatarUrl}}" alt="avatar" class="img-thumbnail">
            <img ng-hide="comment.User.AvatarUrl" src="./img/avatar.png" alt="avatar">
        </div>
        <div>Score: {{comment.User.AvgRate| number:2}}</div>
        <div>Total hugs: {{comment.User.TotalClosed}}</div>
    </div>
    <div class="right-ref col-md-10">
        <div class="comment-author"><a href="/user/{{comment.User.Id}}">{{comment.User.FirstName}} {{comment.User.LastName}}</a></div>
        <div class="date">{{comment.UpdateTime | date: 'medium'}}</div>
        <div class="text">{{comment.Text}}</div>
    </div>
</div>    