<div class="dashboard row">
    <div class="col-md-12">
        <div class="row">
            <div ng-hide="enoughData" class="not-enough-info alert alert-danger col-md-12" role="alert">
                For more action fill your <a href="/profile" class="alert-link">profile.</a>
            </div>
            <!--<div class="awesomeness-bar col-md-12 voffset3"><progressbar class="progress-striped " value="50" type="success"> You are awesome!</progressbar></div>-->
            <div ng-if="!activity" class="welcome-msg col-md-12 text-center">
                <h1>Welcome!</h1>
                <h2>We are glad that you are here!</h2>
                Instructions...
            </div>
        </div>
        <div class="row">
            <div class="feed col-md-8">
                <h2 class="col-md-12">Feed</h2>
                <feed-block ng-repeat="item in feed" feed="item"></feed-block>
            </div>
            <div class="interesting col-md-4">
                <h2 class="col-md-12">Interesting near you</h2>
                <div class="col-md-12" ng-show="nearMembers.length">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-info">Members</div>
                        <a ng-repeat="member in nearMembers" ng-if="member.FirstName" class="list-group-item" href="/user/{{member.Id}}">{{member.FirstName}}&nbsp;{{member.LastName}}</a>
                    </div>
                </div>
                <div class="col-md-12" ng-show="nearGifts.length">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-info">Gifts<div class="pull-right"><a class="btn btn-xs btn-success" href="/findgift">Show more</a></div></div>
                        <a ng-repeat="gift in nearGifts" class="list-group-item" href="/gift/{{gift.Id}}">{{gift.Name}}</a>
                    </div>
                </div>
                <div class="col-md-12" ng-show="nearWishes.length">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-info">Wishes<div class="pull-right"><a class="btn btn-xs btn-success" href="/findwish">Show more</a></div></div>
                        <a ng-repeat="wish in nearWishes" class="list-group-item" href="/wish/{{wish.Id}}">{{wish.Name}}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
