<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form class="form-email" role="form" name="emailForm">
                <h2 class="form-login-heading">Forgot your password?</h2>
                <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Email" data-ng-model="email.email" required autofocus>
                    <div class="label label-danger" ng-show="wasSubmitted && emailForm.email.$error.required">Required</div>
                    <div class="label label-danger" ng-show="wasSubmitted && emailForm.email.$error.pattern">Incorrect email</div>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" data-ng-click="sendReset(emailForm.$valid)">Send me reset instruction</button>
                </div>
                <div data-ng-hide="message == ''" data-ng-class="(sent) ? 'alert alert-success' : 'alert alert-danger'">
                    {{message}}
                </div>
            </form>
        </div>
    </div>
</div>
