<div class="row">
    <div class="col-md-3">
        123
    </div>
    <div class="col-md-9">
        <div >
            <h2 style="padding-top: 50px; margin-top: -50px;" id="faq"> FAQ</h2>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
        <div >
            <h2 style="padding-top: 50px; margin-top: -50px;" id="support"> Support</h2>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
        <div >
            <h2 style="padding-top: 50px; margin-top: -50px;" id="about">  About</h2>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
        <div>
            <h2 style="padding-top: 50px; margin-top: -50px;" id="safety">Safety. Communicate carefully.</h2>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
    </div>
</div>    