<div class="row faq">
    <div class="col-md-3">
        <div class="list-group sidebar">
            <a href="" class="list-group-item" ng-class="{'active' : selectedLink == 'faq'}" ng-click="scrollTo('faq')">FAQ</a>
            <a href="" class="list-group-item" ng-class="{'active' : selectedLink == 'support'}" ng-click="scrollTo('support')">Support</a>
            <a href="" class="list-group-item" ng-class="{'active' : selectedLink == 'about'}" ng-click="scrollTo('about')">About</a>
            <a href="" class="list-group-item" ng-class="{'active' : selectedLink == 'safety'}" ng-click="scrollTo('safety')">Safety. Communicate carefully.</a>
        </div>
    </div>
    <div class="col-md-9">
        <div>
            <h2 id="faq">FAQ</h2>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
        <div >
            <h2 id="support">Support</h2>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
        <div >
            <h2 id="about">About</h2>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
        <div>
            <h2  id="safety">Safety. Communicate carefully.</h2>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
    </div>
</div>    