<div class="container ">

    <div class="row info-page" active-scroll>
        <div class="col-md-3">
            <div class="list-group col-md-2 sidebar">
                <a href="" class="list-group-item scroll-helpus" ng-class="{'active' : selectedLink == 'helpus'}" ng-click="scrollTo('helpus')">Help Us</a>
                <a href="" class="list-group-item scroll-vacancy" ng-class="{'active' : selectedLink == 'vacancy'}" ng-click="scrollTo('vacancy')">Vacancy</a>
                <a href="" class="list-group-item scroll-donate" ng-class="{'active' : selectedLink == 'donate'}" ng-click="scrollTo('donate')">Donate</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="empty-page">Up coming soon...<br />Please contact us if you have suggestions about this page.</div>
            <!--<div>
                <h2 class="scroll-anchor" id="helpus">Help Us</h2>
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>
            <div>
                <h2 class="scroll-anchor" id="vacancy">Vacancy</h2>
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>
            <div>
                <h2 class="scroll-anchor" id="donate">Donate</h2>
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>-->
        </div>
    </div>
</div>
