<header class="promo">
    <div class="container">
        <div class="row">
            <div class="message col-xs-12 col-sm-6 col-md-5 col-md-offset-4">
                <div class="title">Give, receive,<br/>share the moment</div>
                <div class="quotes"><strong>Love</strong> only grows by <strong>sharing</strong>.<br class="br-md"> You can only have more for yourself<br class="br-md"> by <strong>giving</strong> it away to others.<br> ― Brian Tracy</div>
               
            </div>
            <div class=" signup-form col-xs-12 col-sm-6 col-md-3" signup-form inline="true">
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row row-content">
        <div class="col-md-12">
            <div class="made-for col-md-12 text-center">
                <h2>KnacksGifter is made for</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="col-md-6 image-madefor image-madefor-1"></div>
                        <div class="col-md-6">
                            <h4>Dreamers</h4>
                            Who wants to try the whole world from the beginning
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-6 image-madefor image-madefor-2">
                        </div>
                        <div class="col-md-6">
                            <h4>Homesick people</h4>
                            Who missed so much for something special
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-6 image-madefor image-madefor-3">
                        </div>
                        <div class="col-md-6">
                            <h4>Collectors</h4>
                            Who has a passio to collect and share
                        </div>
                    </div>
                </div>
            </div>
            <div class="how-use row text-center">
                <h2 class="col-md-12">How to use</h2>
                <div class="col-md-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">Step 1</div>
                        <div class="panel-body">Registration</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">Step 2</div>
                        <div class="panel-body">Left request</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">Step 3</div>
                        <div class="panel-body">Meet participants</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">Step 4</div>
                        <div class="panel-body">Recieve desired</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">Step 5</div>
                        <div class="panel-body">Be happier</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <a href="/signup" class="btn btn-success">Join us!</a>
            </div>
        </div>
    </div>
</div>