<header class="promo">
    <div class="container">
        <div class="row">
            <div class="message col-xs-12 col-sm-6 col-md-5 col-md-offset-4">
                <div class="title">Give, receive,<br />share the moment</div>
                <div class="quotes"><strong>Love</strong> only grows by <strong>sharing</strong>.<br class="br-md"> You can only have more for yourself<br class="br-md"> by <strong>giving</strong> it away to others.<br> ― Brian Tracy</div>

            </div>
            <div class="signup-form col-xs-12 col-sm-6 col-md-3" signup-form >
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
            <div class="made-for col-xs-12 row-content">
                <div class="mission col-xs-12">
                    KnacksGifter is designed to make the life more interesting, kind and full of respect by connecting people around the globe and creating meaningful sharing community.
                </div>
                <div class="media col-xs-12">
                    <div class="media-left">
                        <img class="media-object" src="/img/madefor_gift.png" alt="made for image" />
                    </div>
                    <div class="media-body">
                        If you love to help people, share and make them happier, if you have the opportunity to travel and want to meet people all over the world and bring joy to their life. Let people know about it here by leaving a message. From now on you will be called a Giver and receive many thanks. Thank you for your help!
                    </div>
                </div>
                <div class="media  col-xs-12">
                    <div class="media-body">
                        If you miss something from your hometown or just want to explore the traditions of different countries, receive national souvenirs and try unusual food. Or you may not even know what you want and be just craving for new experiences – simply request it and other members will respond and help you. You'll be called a Wisher. Thank you for sharing your dreams with the community!
                    </div>
                    <div class="media-right">
                        <img class="media-object" src="/img/madefor_wish.png" alt="made for image" />
                    </div>
                </div>
                <div class="media col-xs-12">
                    <div class="media-left">
                        <img class="media-object" src="/img/madefor_share.png" alt="made for image" />
                    </div>
                    <div class="media-body">
                        Meaningful sharing community fosters respectful communication and an atmosphere of mutual support and assistance. We believe that it is unconditional sharing that brings more light and kindness into our life, and opens up an opportunity to meet sincere and caring people around the world. When you offer your help and hand over a desired gift to someone, you, in return, may be taken to see the sights of the city, invited for a lunch or a tea, given a ride to a hotel etc. The way you arrange it is up to you. Our service provides all the communication tools you may need. As a Wisher remember to treat others as you would like others to treat yourself.
                    </div>
                </div>
            </div>
            <div class="how-use col-xs-12 text-center row-content">
                <h2 class="header">How to</h2>
                <div class="steps">

                    <div class="col-md-3 col-sm-5  col-xs-12">
                        <div class="step green">
                            <div class="step-inner">
                                <a href="#signupForm">
                                    <div class="logo"></div>
                                    <div class="title">
                                        JOIN US TO START<br />THE JOURNEY
                                    </div>
                                </a>
                            </div>
                        </div>
                  
                    </div>
                    <div class="col-xs-12 visible-xs">
                        <div class="arrow-down"></div>
                    </div>
                    <div class="col-sm-2 visible-sm">
                        <div class="arrow-right"></div>
                    </div>
                    <div class="visible-xs visible-sm col-sm-5  col-xs-12">
                        <div class="step pink">
                            <div class="step-inner">
                                <div class="logo"></div>
                                <div class="title">FILL IN WISH<br/>OR GIFT FORM</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 visible-xs">
                        <div class="arrow-down"></div>
                    </div>
                    <div class="col-sm-12 visible-sm">
                        <div class="arrow-left45"></div>
                    </div>
                    <div class="col-md-4 col-sm-5 col-xs-12">
                        <div class="step blue">
                            <div class="step-inner">
                                <div class="logo"></div>
                                <div class="title">FIND PEOPLE<br/>AND HELP<br />EACH OTHER</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 visible-xs">
                        <div class="arrow-down"></div>
                    </div>
                    <div class="col-sm-2 visible-sm">
                        <div class="arrow-right"></div>
                    </div>
                    <div class="visible-xs visible-sm col-sm-5  col-xs-12">
                        <div class="step green-light">
                            <div class="step-inner">
                                
                                <div class="logo"></div>
                                <div class="title">SHARE THE JOY<br />OF RECEIVING<br />AND GIVING</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 visible-xs">
                        <div class="arrow-down"></div>
                    </div>
                    <div class="col-sm-12 visible-sm">
                        <div class="arrow-left45"></div>
                    </div>
                    <div class="col-md-4 col-sm-5  col-xs-12">
                        <div class="step red">
                            <div class="step-inner">
                                
                                <div class="logo"></div>
                                <div class="title">GET HAPPIER</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 visible-xs">
                        <div class="arrow-down"></div>
                    </div>
                    <div class="col-sm-2 visible-sm">
                        <div class="arrow-right"></div>
                    </div>
                    <div class="col-md-2 col-md-offset-1 visible-md visible-lg">
                        <div class="arrow-down45 first"></div>
                    </div>
                    <div class="col-md-2 visible-md visible-lg">
                        <div class="arrow-up45"></div>
                    </div>
                    <div class="col-md-2 visible-md visible-lg">
                        <div class="arrow-down45"></div>
                    </div>
                    <div class="col-md-2 visible-md visible-lg">
                        <div class="arrow-up45"></div>
                    </div>
                    <div class="col-md-2 visible-md visible-lg">
                        <div class="arrow-down45"></div>
                    </div>
                    <div class="col-md-4 col-md-offset-1 visible-md visible-lg">
                        <div class="step pink">
                            <div class="step-inner"><div class="logo"></div>
<div class="title">FILL IN WISH<br />OR GIFT FORM</div></div>
                        </div>
                    </div>
                    <div class="col-md-4 visible-md visible-lg">
                        <div class="step green-light">
                            <div class="step-inner"><div class="logo"></div>
<div class="title">SHARE THE JOY<br />OF RECEIVING<br />AND GIVING</div></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-5 col-xs-12">
                        <div class="sun-step">
                            <div class="step">
                                <div class="step-inner">
                                    
                                    <div class="logo"></div>
                                    <div class="title">REPEAT<br />AND MULTIPLY<br />HAPPINESS</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8  col-md-offset-3 visible-md visible-lg">
                        <div class="arrow-left-long"></div>
                    </div>
                </div>

            </div>
    </div>
</div>