<div ng-class="{container:!inline}">
    <div class="row">
        <div ng-class="{'col-md-4 col-md-offset-4':!inline, 'col-md-12':inline}">
            <form class="form-signup" role="form" name="signupForm" novalidate>
                <h2 ng-hide="inline" class="form-signup-heading">{{title}}</h2>
                <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Email" data-ng-model="registration.email" required ng-pattern="emailPattern" autofocus>
                    <div class="label label-danger" ng-show="wasSubmitted && signupForm.email.$error.required">Required</div>
                    <div class="label label-danger" ng-show="wasSubmitted && signupForm.email.$error.pattern">Incorrect email</div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password" data-ng-model="registration.password" required>
                    <div class="label label-danger" ng-show="wasSubmitted && signupForm.password.$error.required">Required</div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required field-match="registration.password">
                    <div class="label label-danger" ng-show="wasSubmitted && signupForm.confirmPassword.$error.required">Required</div>
                    <div class="label label-danger" ng-show="wasSubmitted && signupForm.confirmPassword.$error.fieldMatch">Passwords are not equal</div>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" data-ng-click="submit(signupForm.$valid)">Submit</button>
                    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                        {{message}}
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>