<div class="container ">
    <div class="row">
        <div ng-hide="enoughData" class="not-enough-info alert alert-danger" role="alert">For more action fill your <a href="/profile" class="alert-link">profile.</a></div>
        <div class="user-info col-md-4">
            <h3 class="user-heading">{{user.FirstName}} {{user.LastName}}<span class="online-status label label-primary" ng-show="user.IsOnline">Online</span></h3>
            <div class="avatar">
                <img ng-show="user.AvatarUrl" ng-src="{{user.AvatarUrl}}" alt="avatar" class="img-thumbnail">
                <img ng-hide="user.AvatarUrl" src="./img/avatar.png" alt="avatar">
            </div>
            <!--<div class="awesomeness-bar"><uib-progressbar class="progress-striped " value="50" type="success"> Awesomeness</progressbar></div>-->
            <div class="panel panel-info">
                <div class="panel-heading"><div class="panel-title">Info</div></div>
                <div class="panel-body">
                    <div class="row" ng-show="user.Age"><label class="col-lg-4">Age:</label><div class="col-lg-8 ">{{user.Age}}</div></div>
                    <div class="row" ng-hide="user.IsOnline"><label class="col-lg-4">Last login:</label><div class="col-lg-8 ">{{user.LastLoginTime}}</div></div>
                    <div class="row"><label class="col-lg-4">Country:</label><div class="col-lg-8 ">{{user.Country.Name}}</div></div>
                    <div class="row"><label class="col-lg-4">Location:</label><div class="col-lg-8 ">{{user.City}}</div></div>
                    <div class="row"><label class="col-lg-4">{{user.FavoriteContact.Name}}&nbsp;contact:</label><div class="col-lg-8 ">{{user.FavoriteContact.Value}}</div></div>
                    <div class="row"><label class="col-lg-4">Score:</label><div class="col-lg-8 ">{{user.AvgRate | number:2}}</div></div>
                    <div class="row"><label class="col-lg-4">Total hugs:</label><div class="col-lg-8 ">{{user.TotalClosed}}</div></div>
                </div>
            </div>
        </div>
        <div class="col-md-8 user-tabs">
            <uib-tabset justified="true" class="knacks-list" ng-init="tabs[initialTab].isActive = true">
                <uib-tab heading="About me" active="isActive.tabs[0].active">{{user.AboutMe}}</uib-tab>
                <uib-tab heading="Recent requests" active="isActive.tabs[1].active" select="getRecentRequests(recentRequestsExist)">
                    <div class="col-md-6">
                        <h4>Gifts</h4>
                        <div ng-repeat="gift in gifts" class="list-group">
                            <a href="/gift/{{gift.Id}}" class="list-group-item">
                                <div class="user-requests">
                                    <h4 class="list-group-item-heading">{{gift.Name}}</h4>
                                    <p class="list-group-item-text">{{gift.City}}</p>
                                    <p class="list-group-item-text"><span ng-if="gift.FromDate">From {{gift.FromDate}} </span><span ng-if="gift.ToDate">to {{gift.ToDate}}</span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>Wishes</h4>
                        <div ng-repeat="wish in wishes" class="list-group">
                            <a href="/wish/{{wish.Id}}" class="list-group-item">
                                <div class="user-requests">
                                    <h4 class="list-group-item-heading">{{wish.Name}}</h4>
                                    <p class="list-group-item-text">{{wish.City}}</p>
                                    <p class="list-group-item-text"><span ng-if="wish.FromDate">From {{wish.FromDate}} </span><span ng-if="wish.ToDate">to {{wish.ToDate}}</span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="References" active="isActive.tabs[2].active" select="getReferences()">
                    <button type="button" class="btn btn-info" ng-click="addReference()" ng-hide="user.Id===myId">Add reference</button>
                    <blockquote ng-repeat="reference in references" class="reference-item">
                        <div class="media">
                            <a class="name" href="/user/{{reference.Replyer.Id}}">
                                <div>{{reference.Replyer.FirstName}} {{reference.Replyer.LastName}}</div>
                            </a>
                            <div class="media-left replyer-avatar">
                                <a href="/user/{{reference.Replyer.Id}}">
                                    <img class="media-object img-thumbnail" src="{{reference.Replyer.AvatarUrl}}" on-error-src="/img/avatar.png" alt="avatar" />
                                </a>
                                <div>Score: {{reference.Replyer.AvgRate| number:2}}</div>
                                <div>Total hugs: {{reference.Replyer.TotalClosed}}</div>
                            </div>
                            <div class="media-body">
                                <uib-rating class="rating" ng-model="reference.Rate" max="5" readonly="true" aria-labelledby="default-rating"></uib-rating>
                                <div>{{reference.ReferenceText}}</div>
                                <footer>{{reference.CreatedTime | date: 'medium'}}</footer>
                            </div>
                        </div>
                    </blockquote>
                </uib-tab>
            </uib-tabset>
    </div>
    </div>
</div>
