<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="Styles/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="Styles/main.css" type="text/css" />

</head>
<body>
    <div class="icon-user"></div>
    {{{body}}}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
</body>
</html>