<div class="modal-header">
  <h3 class="modal-title">Login</h3>
</div>
<div class="modal-body">
  <form name="loginForm" ng-submit="login()">
    <input class="form-control" type="email" placeholder="Email" ng-model="user.username"  required autofocus>
    <input class="form-control" type="password" placeholder="Password" ng-model="user.password"  required>
    <button class="btn btn-lg btn-info btn-block" type="submit" >Login</button>
    <div ng-hide="message == ''" ng-class="(isAuthenticated) ? 'alert alert-success' : 'alert alert-danger'">
      {{message}}
    </div>
  </form>
</div>
<div class="modal-footer">
</div>
