<div class="modal-header">
  <h3 class="modal-title">Sign Up</h3>
</div>
<div class="modal-body">
  <form name="signupForm" ng-submit="signup()">
    <input class="form-control" type="email" placeholder="Email" ng-model="user.username" required autofocus>
    <input class="form-control" type="password" placeholder="Password" ng-model="user.password" required>
    <button class="btn btn-lg btn-info btn-block" type="submit">Sign up</button>
    <div ng-hide="message == ''" ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
      {{message}}
    </div>
  </form>
</div>
<div class="modal-footer">
</div>
